body{
	background-image: url("body.jpg");
}
.banner{
	margin-top: 50px;
	text-align: center;
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    margin-bottom: 10px;
}
nav{
	margin-left: 100px;
	margin-right: 100px;
}
.slide{
	
	margin-left:100px;
	margin-right: 100px;
}
.thanhtinmoi{
	background-image: url("thanhtinmoi.jpg");
	margin-left:100px;
	margin-right: 100px;
	text-align: center;
	font:small Georgia Serif;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}
.boxtin{
	margin-left:100px;
	margin-right: 100px;

}
.footer1{
	background-color: lightgrey;
}
.bq{
	color:white;
	background-color: grey;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}